<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-image: url(img/bugs.jpg) ;">
    
    <h2 style="text-align:center;" ><a href="http://localhost:3030">¿Realmente quieres volver al inicio?</a></h2>

    <img src="img/bugs.jpg" alt="">
    <iframe src="/audio/comu.ogg" allow="autoplay" style="display:none" id="iframeAudio">
    </iframe>
</body>
</html>